.App {
  text-align: center;
}

.App-header {
  background-color: #008CBA;
  height: 40px;
  padding: 10px;
  color: white;
}

.App-intro {
  font-size: large;
}

.Main {
    border: 2px solid black;
    border-radius: 5px;
    width: 300px;
    margin: 30px auto;
    padding: 10px;
}

div {
    padding: 8px;
}

div.Error {
    background-color: #ef9292;
}

.LoginForm {
    padding: 8px;
}

button {
    font-size: 13px;
    width: 100px;
    border-radius: 5px;
    background-color: #008CBA;
    color: white;
}

input.Search {
    font-size: 15px;
    max-width: 100px;
    text-align: center;
    margin: 5px;
}

table, th, td {
    padding: 5px;
}

table {
    border-top: 2px solid black;
    margin: auto
}

th, td {
    border-bottom: 1px solid #ddd;
}

tr:nth-child(odd) {background-color: #f2f2f2}

th {
    background-color: #008CBA;
    color: white;
}
